# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

*.pyc
/.coverage
/.hypothesis
.sass-cache
node_modules

/media/uploads
/media/CACHE
/media/images
/icons/111158-dogs
/icons/Font-Awesome-SVG-PNG

/set_aws_creds