# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

/media/uploads
/media/CACHE
/media/images
*.pyc
/.coverage
/.hypothesis
.sass-cache
node_modules
