-c requirements.txt
Faker
autoflake
autopep8
bandit
black
commitizen
coverage
django-nose
eradicate
flake8-django
hypothesis
icecream
mock
pip-chill
pip-tools
pre-commit
pytest
pytest-django
python-dateutil
