
{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}
{% load cropping %}
{% load staticfiles %}

{% block title %}{{ dog.name }}{% endblock %}

{% block headextra %}
  {% with dog.dogphoto_set.all|first as image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ dog.name }} is looking for a home">
    <meta name="twitter:description" content="{{ dog.description|striptags|truncatechars:200 }}">
    <meta name="twitter:image" content="{{ image.main.url }}">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ dog.name }} is looking for a home" />
    <meta property="og:description" content="{{ dog.description|striptags|truncatechars:200 }}" />
    <meta property="og:image" content="{{ image.main.url }}" />
  {% endwith %}
{% endblock %}

{% block content %}
{% with dog.dogphoto_set.all|first as image %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "Rescue Dog - {{ dog.name }}",
  "image": "{{ image.main.url }}",
  "description": "{{ dog.description|striptags|truncatechars:200 }}",
  "offers": {
    "@type": "Offer",
    "priceCurrency": "GDP",
    "price": "240",
    "priceValidUntil": "2020-11-05",
    "itemCondition": "http://schema.org/UsedCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "SOS Romanian Rescue South West"
    }
  }
}
</script>
{% endwith %}
  <div class="dog-details">
    <div class="row">
      <div class="col-xs-12">
	<h1>
	  {{ dog.name }}
	  {% if dog.reserved %}
	  <span class="reserved"> (Reserved)</span>
	  {% endif %}
	</h1>
      </div>
      <div class="col-md-8 col-sm-7 col-xs-12">
	<div class="dog-photos">
	  <div class="cycle-slideshow" data-cycle-pause-on-hover="true" data-cycle-center-horz="true" data-cycle-center-vert="true" data-cycle-pager=".cycle-pager">
	    {% for img in dog.dogphoto_set.all %}
	    <img
	       src="{{ img.main.url }}"
	       data-cycle-pager-template='<img src="{% cropped_thumbnail img "thumbnail" scale=.25 %}" />'
	       class="img-responsive"
	       />
	    {% endfor %}
	  </div>
	  <div class="cycle-pager"></div>
	</div>
	<div class="body dog-story">
	  {% if dog.reserved %}
	  <div class="alert alert-warning" role="alert">{{ dog.name }} is currently reserved peding adoption</div>
	  {% endif %}
	  <h2>{{ dog.name }}'s story</h2>
	  {{ dog.description|safe }}
	  {% if dog.standard_info and not dog.leash_of_life %}
	  <div class="standard-text">
	    Homecheck and adoption fees apply (minimum donation £240). {{ dog.name }} will be vaccinated{% if dog.neutered %}, neutered{% endif %} and chipped with their own passport. If you would like to adopt {{ dog.name }} please complete our pre adoption form, email <a href="mailto:info@romrescue.org">info@romrescue.org</a> or call 07968 236674.
	  </div>
	  {% endif %}
	</div>	
      </div>
      <div id="info-pane" class="col-md-4 col-sm-5 col-xs-12">
	{% if dog.leash_of_life %}
	<div class="dog-details leash_of_life">
	  <h2>Working With</h2>
	  <a href="http://leashoflife.co.uk/">
	    <img src="{% static "pages/leash-of-life-logo.png" %}" alt="Leash of Life" class="img-responsive" />
	  </a>
	</div>
	{% endif %}
	<div class="dog-details dog-section">
	  <h2>About {{ dog.name }}</h2>
	  <div class="detail-table container">
	    <div class="row"><div class="col-xs-6">Age</div><div class="col-xs-6">{{ dog.age|title }}</div></div>
	    <div class="row"><div class="col-xs-6">Gender</div><div class="col-xs-6">{{ dog.gender|title }}</div></div>
	    <div class="row"><div class="col-xs-6">Size</div><div class="col-xs-6">{{ dog.size|title }}</div></div>
	    <div class="row"><div class="col-xs-6">Location</div><div class="col-xs-6">{{ dog.location|title }}</div></div>
	  </div>
	</div>
	<div class="dog-share dog-section">
	  <h2>Share {{ dog.name }}'s story</h2>

	  <div class="row">
	    <div class="col-xs-12">
	      <a
		 href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
		 title="Share {{ dog.name }} on Facebook"
		 class="icon-facebook-square"
		 rel="external"
		 target="_blank"
		 ><span>Facebook</span></a>
	      <a
		 href="https://twitter.com/home?status={{ request.build_absolute_uri|urlencode }}"
		 title="Share {{ dog.name }} on Twitter"
		 class="icon-twitter-square"
		 rel="external"
		 target="_blank"
		 ><span>Twitter</span></a>
	    </div>
	  </div>
	</div>
	{% if dog.keypoints.count %}
	  <div class="dog-keypoints dog-section">
	    <h2>Things to know</h2>
	    <div class="row">
	      {% for point in dog.keypoints.all %}
		<div class="col-md-12 point">
		  <div class="point-inner">
		    <h4 class="{% if point.icon %}icon-{{ point.icon }} {% endif  %}title">{{ point.title }}</h4>
		    <p>{{ point.details }}</p>
		  </div>
		</div>
	      {% endfor %}
	    </div>
	  </div>
	  {% endif %}
	  {% if not dog.reserved %}
	  <div class="dog-keypoints dog-section">
	    <h2>Interested?</h2>
	    <div class="row">
	      <div class="col-md-12">
		<a href="http://romrescue.s3.amazonaws.com/app/media/uploads/2017/01/31/pre-adoption-form-2017.docx" title="Pre adoption form" class="side-link">
		  <span class="subtitle">
		    Download
		  </span>
		  <span class="title">
		    Pre adoption form
		  </span>
		</a>
	      </div>
	      <div class="col-md-12">
		<a href="{% url 'pages:page' 'contact-us' %}" title="Contact Us" class="side-link">
		  <span class="subtitle">
		    Question?
		  </span>
		  <span class="title">
		    Contact Us
		  </span>
		</a>
	      </div>
	    </div>
	  </div>
	  {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
