{% load easy_thumbnails_tags %}
{% load cropping %}


<div class="dog-photos">
    <div id="player"></div>
    <div class="cycle-slideshow"
	 data-cycle-pause-on-hover="true"
	 data-cycle-center-horz="true"
	 data-cycle-center-vert="true"
	 data-cycle-pager=".cycle-pager"
	 data-cycle-slides=">*"
	 data-cycle-paused="true"
    >
	{% for yt in dog.youtubevideo_set.all %}
	<div class="youtube-container" data-youtube-container="yt-{{ yt }}" data-youtube-id="{{ yt }}" data-cycle-pager-template='<img class="youtube-thumb fa fa-play-circle" src="https://img.youtube.com/vi/{{ yt }}/1.jpg" alt="Video thumbnail" />'>
	  <div class="youtube-inner">
	    <div id="yt-{{ yt }}" class="youtube-placeholder">
	      <img alt="Video" src="https://img.youtube.com/vi/{{ yt }}/0.jpg" class="youtube-responsive" />
	    </div>
	  </div>
	</div>
	{% endfor %}
	{% for img in dog.dogphoto_set.all %}
	<img
	    src="{% thumbnail img.image 600x400 %}"
	    data-cycle-pager-template='<img alt="Dog photo thumbnail" src="{% cropped_thumbnail img "thumbnail" scale=.25 %}" />'
	    class="img-responsive"
		alt="Dog Photo"
	/>
	{% endfor %}
    </div>
    <div class="cycle-pager"></div>
</div>
