{% load thumbnail %}
{% load cropping %}
{% load staticfiles %}

{% block content %}
<div class="row dog-list">
  {% for dog in dog_list %}
  <div class="col-md-3 col-xs-6">
    <a href="{{ dog.url }}" class="link">
      {% with dog.dogphoto_set.all|first as image %}      
      <div class="image">
	{% if image.main.url %}
	<img src="{% cropped_thumbnail image "thumbnail" upscale=True %}" class="img-responsive" />
	{% else %}
	<img src="{% static "pages/no-img.png" %}" class="img-responsive" />
	{% endif %}
	{% if dog.rescue %}
	<img src="{{ dog.rescue.logo_small.url }}" alt="{{ dog.rescue.name }}" class="rescue-logo" />
	{% endif %}
      </div>
      {% endwith %}
      <h2>{{ dog.name }}</h2>
      {% if dog.reserved %}
      <div class="reserved">(Reserved)</div>
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
