{% load easy_thumbnails_tags %}
{% load cropping %}
{% load static %}

{% block content %}
    {% if filters %}
    <div class="filters">
        {% for filter in filters %}
            <div class="filter-wrapper">
                <a class="btn btn-default btn-lg btn-block filter" href="#{{ filter.slug }}"
                   data-filter="{{ filter.slug }}">
                    <span>{{ filter.name }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="row dog-list">
        {% if dog_list %}
            {% for dog in dog_list %}
                <div class="col-md-3 col-xs-6 dog-container"
                     data-filter-data='[{% for filter in dog.filters.all %}"{{ filter.slug }}",{% endfor %}"all"]'>
                    <a href="{{ dog.correct_url }}" class="link">
                        {% with dog.dogphoto_set.all|first as image %}
                            <div class="image">
                                {% if image.image %}
                                    <img alt="Photo of {{ dog.name }}" src="{% cropped_thumbnail image "thumbnail" upscale=True %}" class="img-responsive"/>
                                {% else %}
                                    <img alt="Photo of {{ dog.name }}" src="{% static "pages/no-img.png" %}" class="img-responsive"/>
                                {% endif %}
                                {% if dog.rescue %}
                                    <img src="{% thumbnail dog.rescue.logo 100x75 %}" alt="{{ dog.rescue.name }}" class="rescue-logo"/>
                                {% endif %}
                            </div>
                        {% endwith %}
                        <h2>{{ dog.name }}</h2>
                        <div class="info">{{ dog.sponsor_status }}</div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-xs-12">
                <p class="no-dogs">
                    {% block no_dogs %}
                        We currently have no dogs looking for sponsorship and that's a good thing!
                    {% endblock %}
                </p>
            </div>
        {% endif %}
    </div>

{% endblock %}
