@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

$title_font: 'Bitter', serif;
$body_font:  system;

$purple: rgb(155, 83, 156); //9B539C

$color-primary-0: #9C539C;	// Main Primary color */
$color-primary-1: #DDB7DD;
$color-primary-2: #BC80BC;
$color-primary-3: #823282;
$color-primary-4: #6B1B6B;

$rgba-primary-0: rgba(156, 83,156,1);	// Main Primary color */
$rgba-primary-1: rgba(221,183,221,1);
$rgba-primary-2: rgba(188,128,188,1);
$rgba-primary-3: rgba(130, 50,130,1);
$rgba-primary-4: rgba(107, 27,107,1);

$primary: $color-primary-0;
