.dog-list {
  .link {
    text-decoration: none;

    .image {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primary;
        opacity: 0;
        transition: all .2s ease-in-out;
      }
    }

    &:hover {
      .image {
        &:before {
          opacity: .6;
        }
      }
    }
  }
}

