.dog-list {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin-bottom: 1em;
  }
  
  .link {
    @extend %clearfix;
    display: block;
    text-decoration: none;

    $padding: 1em;

    background: $rgba-primary-1;
    padding: $padding;
    #margin-bottom: $padding;
    height: 100%;

    h2 {
      transition: .2s all ease;
    }

    &:hover {
      &, h2 {      
        color: #fff;
      }
    }

    .reserved {
      font-size: 1.5em;
    }
    
    .image {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primary;
        opacity: 0;
        transition: all .2s ease-in-out;
      }

      & + h2 {
        margin-top: $padding / 2;
      }

      .rescue-logo {
        position: absolute;
        top: .5em;
        right: .5em;
        max-width: 33%;
        max-height: 25%;
        height: auto;
        transition: all .2s ease-in-out;
      }
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:hover {
      .image {
        &:before {
          opacity: .6;
        }

        .rescue-logo {
          opacity: .4;
        }
      }
    }
  }
}

