header {
  .header-row {
    display: flex;
    justify-content: space-between;

      //flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;

    & > * {
      flex: 1 0 auto;
    }

    .logo {
      padding-top: 1em;
      padding-bottom: 1em;
      img {
        max-width: calc(100vw - 2em);
      }
    }
    .donate {
      padding-top: 1em;
      padding-bottom: 1em;

      a {
        max-width: calc(100vw - 2em);
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .header-title {
    padding-top: 1em;
    font-size: 1.5em;
  }
}
