$title-bg-color: $color-primary-0;

.home_headers {
  .home_header {
    position: relative;
    
    .title, .sub-title {
      position: absolute;
      font-family: $title_font;
      display: inline-block;
      color: #fff;
      background: rgba($title-bg-color, .8);
      line-height: 1em;
      padding: 10px 20px;
    }

    .title {
      top: 3rem;
      left: 3rem;
      font-size: 34px;
    }

    .sub-title {
      top: 9rem;
      left: 3rem;
      font-size: 28px;
    }
  }
}

@media (max-width: 765px) {
  .home_headers {
    .home_header {
      .title, .sub-title {
        position: static;
        display: block;
        background: $title-bg-color;
      }
    }
  }
}
