{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta name="google-site-verification" content="nGOuWF46h9-o218fmCUEmmZ6_D0K6AYijp8ATDi_KLk" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}{% block no-title %} | {% endblock %}{% block title-default %}SOS Romanian Rescue{% endblock %}</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="{% static "pages/favicon.png" %}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet">
    <link href="{% static "pages/css/styles.css" %}" rel="stylesheet">
    {% block headextra %}
    {% endblock %}
  </head>
  <body>
  <script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "AnimalShelter",
	"name": "SOS Romanian Rescue South West",
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "Wellington",
		"addressRegion": "Somerset",
		"postalCode": "TA21"
},
	"image": "https://romrescue.s3.amazonaws.com/images/11924289_1174003869281177_6373312506769185085_n.jpg.1110x624_q85_box-0%2C0%2C480%2C270_crop_detail_upscale.jpg",
	"logo": "{% static "pages/logo-only.png" %}",
	"email": "info@romrescue.org",
	"telePhone": "07968 236 674",
	"url": "http://www.romrescue.org",
	"paymentAccepted": [ "cash" ],
	"priceRange":"$"

}
</script>
    <div class="outter-most container">
      <div class="main-container">
	<header>
	  {% include "header.html" %}
	  {% include "nav.html" %}
	</header>
	{% block page_header %}{% endblock %}
	<div class="container main-content">
	  {% block content %}
	  {% endblock %}
	</div>
	<footer>
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-12">
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup" class="signup">
		  <div class="row">
		    <div class="col-md-12">
		      <h2>Keep up with the latest pupdates</h2>
		    </div>
		    <div class="col-md-7">
		      <p>Signup for our news letter to keep up to date with our latest dogs, news and events</p>
		      <p>
			<small>We won't inundate you with spam and we definitely won't sell or pass your email to anyone else.</small>
		      </p>
		    </div>		   
		    <div class="col-md-5">
		      <form action="//romrescue.us15.list-manage.com/subscribe/post?u=57b55fb53c7a73840d3472a5c&amp;id=5916757e00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
			  <div class="mc-field-group form-group">
			    <label for="mce-EMAIL">Email Address </label>
			    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
			  </div>
			  <div class="form-group">
			    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default">
			  </div>
			  <div id="mce-responses" class="clear">
			    <div class="response" id="mce-error-response" style="display:none"></div>
			    <div class="response" id="mce-success-response" style="display:none"></div>
			  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_57b55fb53c7a73840d3472a5c_5916757e00" tabindex="-1" value=""></div>
			</div>
		      </form>
		    </div>
		  </div>
		</div>
		<!--End mc_embed_signup-->
		<hr />
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-4">
		{% include "social-links.html" %}
	      </div>
	      <div class="col-md-4">
		<div class="inner">
		  SOS Romanian Rescue &copy;{% now "Y" %} | All Rights Reserved
		</div>
	      </div>
	      <div class="col-md-4">
		<div class="inner">
		  Charity Number : 1160999
		</div>
	      </div>
	    </div>
	  </div>
	</footer>
      </div>
    </div>
    {% block js_footer %}{% endblock %}
    <script type="text/javascript" src="{% static "pages/js/script.js" %}" defer></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88672368-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
