{% load mptt_tags %}
{% block nav %}
  <nav class="navbar">
      <div class="item">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="#">Navigation</a>
        </div>
	<div id="navbar" class="nav-wrapper navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
	    {% recursetree nav_items %}
	    <li class="dropdown {{ node.nav_class }}">
	      {% if not node.is_leaf_node %}	
		<a href="{{ node.url }}" data-toggle="dropdown" role="button" aria-expanded="false" >{{ node.nav_title_actual }}</a>
		<ul class="dropdown-menu" role="menu">
		  {{ children }}
		</ul>
	      {% else %}
		<a href="{{ node.url }}">{{ node.nav_title_actual }}</a>
	      {% endif %}
            </li>
	  {% endrecursetree %}
          </ul>
	</div>
      </div>
  </nav>
{% endblock %}

